:root {
  --not-background-color: #9d9ca3;
  --not-color: #15141a;
}
.noNotesImg {
  width: 50%;
  height: 50%;
  margin: auto;
}
.noNotesImg img {
  width: 100%;
  border-radius: 1%;
}
.all-notes {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.note-card {
  background-color: var(--not-background-color);
  color: var(--background-color);
  border: 1px solid #818181;
  width: 15rem;
  height: fit-content;
  padding: 1rem;
  position: relative;
  border-radius: 0.5rem;
  transition: transform 0.2s;
  box-shadow: 0px 5px 10px 0px rgba(255, 255, 255, 0.5);
}
.note-card:hover {
  transform: scale(1.1);
}
.delete-icon {
  position: absolute;
  right: 1rem;
  cursor: pointer;
  display: flex;
  gap: 1rem;
}
.archive-icon {
  position: absolute;
  right: 3rem;
  cursor: pointer;
  display: flex;
  gap: 1rem;
}
.restore-icon {
  position: absolute;
  right: 1rem;
  cursor: pointer;
  bottom: 0.5rem;
}
.note-title {
  font-weight: bolder;
  border-bottom: 1px solid black;
  padding: 0.5rem;
}
.note-descreption {
  padding: 0.5rem;
  height: auto;
}
.card-labels {
  display: flex;
  gap: 0.3rem;
}
.priority {
  background-color: rgb(252, 204, 204);
  width: fit-content;
  padding: 0.2rem;
  border-radius: 10%;
  font-weight: 600;
}
.category {
  background-color: rgb(209, 250, 250);
  width: fit-content;
  padding: 0.2rem;
  border-radius: 10%;
  font-weight: 600;
}
.note-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ColorLensIcon {
  position: relative;
}
.palette {
  border-radius: 0.2rem;
  position: absolute;
  left: 1.2rem;
  bottom: -2rem;
}
