.mainPage {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
}
main {
  flex-grow: 1;
}
.mainPageContent {
  display: flex;
  justify-content: space-between;
}
.common-notes {
  height: 100vh;
  margin-top: 5rem;
  /* background-color: red; */
  width: 70%;
  padding-top: 30px;
  flex-grow: 1;
  margin-right: 15rem;
  padding-left: 15rem;
}
@media screen and (max-width: 780px) {
  .common-notes {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
