.mainPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}
.mainPageContent {
  display: flex;
  justify-content: space-between;
}
.common-notes {
  height: 100vh;
  margin-top: 5rem;
  background-color: red;
  width: 70%;
  padding-top: 30px;
}
