HTML,
body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  display: block;
}

.link {
  text-decoration: none;
  color: var(--color);
}

.dark-mode {
  --background-color: #15141a;
  --color: #ffffff;
}
.light-theme {
  --background-color: #ffffff;
  --color: #222831;
}
body {
  background-color: var(--background-color);
  color: var(--color);
}
